.textarea {
  resize: none;
  height: 6rem;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  &:focus {
    outline: none;
    border: 1px solid #000;
  }
}
