@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,800&family=Playfair+Display:wght@600&family=Source+Code+Pro:wght@400;600&display=swap");

.container {
  width: 55%;
  margin-top: 5vh;
  height: 85vh;
  overflow-y: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);

}
.resume {
  flex: 1.2;
  width: 100%;
  display: flex;
  color: #2e2f52;
  font-weight: 700;
  height: max-content;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
}
.container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.icon {
  width: 1.1rem;
  height: 1.1rem;
  padding-right: 10px;
}
.description {
  text-align: justify;
  width: 100%;
}

.languages,
.frameworks,
.tools,
.databases {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.xp {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.award {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0px;
}
.comp1 {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 30px;
}
.comp2 {
  margin-left: 10px;
  margin-bottom: 30px;
  min-height: 50px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 10px;
  width: 100%;
  display: inline;
  font-size: 18px;
}
.language,
.framework,
.tool,
.database {
  display: inline;
  padding: 0px 2px;
  font-weight: 500;
  margin-right: 30px;
  font-size: 15px;
}

.left {
  flex: 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #d7dde6;
  align-items: stretch;
  align-self: stretch;
}
.company {
  font-weight: bolder;
  font-size: 17px;
  word-spacing: 10px;
}

.personalInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
}

.phone,
.email,
.link {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  color: #2e2f52;
}

.AboutSection {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  padding-right: 40px;
}

.right {
  flex: 1;
  width: 60%;
  align-items: stretch;
  align-self: stretch;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.back {
  width: 80%;
}

.back2 {
  width: 90%;
}

.title {
  width: 80%;
  font-weight: bold;
  font-size: large;
  width: 100%;
  padding: 10px 0px;
  background: none;
  letter-spacing: 4.2px;
  border: none;
  border-bottom: 2px solid #2e2f52;
}

.identity {
  width: 90%;
  border-bottom: 2px solid #cbcbd1;
  padding: 60px 0px;
  color: #2e2f52;
  font-family: Inria Sans;
  font-weight: 700;
  letter-spacing: 8.1px;
}

.email,
.phone {
  display: flex;
  align-items: center;
}

.name {
  font-size: 54px;
  font-weight: 600;
}
.cet,
.ceta {
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  width: 98%;
  font-size: 15px;
  font-weight: 500;
}

.ceta {
  align-items: flex-start;
}

.certificateName {
  width: 100%;
  display: flex;
  align-items: center;
}

.issuer {
  width: 80%;
  font-weight: 300;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.cet,
.ceta {
  display: flex;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  width: 98%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.ceta {
  align-items: flex-start;
}

.certificateName {
  width: 100%;
  display: flex;
  align-items: center;
}
.issuer {
  width: 80%;
  font-weight: 300;
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.edu {
  display: flex;
  align-items: flex-start;
  text-align: justify;
  font-size: 15px;
  margin-bottom: 20px;
}
.duration {
  font-weight: 300;
}

.edu_sub {
  width: 80%;
  margin-top: 5px;
  word-spacing: 10px;
}

.course {
  font-weight: 500;
}

.education,
.skills,
.certificates {
  min-height: 30px;
  width: 90%;
}

.certificates {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.about {
  min-height: 30px;
  text-align: justify;
  color: #2e2f52;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  word-wrap: break-word;
  width: 97%;
}

.dp {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.dp>img {
  width: 50%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.experiences {
  min-height: 50px;
  width: 100%;
}

.project {
  width: 100%;
  padding-right: 50px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  display: flex;
}

.pro {
  margin-left: 20px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.proc {
  width: 80%;
  font-size: 15px;
  margin: 5px 0px;
  margin-left: 40px;
}

.prod {
  width: 83%;
  margin-left: 40px;
  margin-bottom: 30px;
}

.check {
  width: 90%;
  padding-left: 40px;
  font-size: 17px;
  margin: 20px 0px;
  font-weight: 500;
}


@media print {
  .title {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  @page {
    margin-top: 30px;
    height: 100%;
  }

}
