* {
  box-sizing: border-box;
}

.container {
  width: 55%;
  margin-top: 5vh;
  height: 85vh;
  overflow-y: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.resume {
  flex: 1.2;
  height: max-content;
  flex-direction: column;
  width: 100%;
  display: flex;
  word-wrap: break-word;
  padding: 60px 50px;
}

.pro {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}
.container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.container::-webkit-scrollbar {
  width: 5px;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  color: rgba(22.39, 2.09, 48.22, 0.8);
  font-size: 55px;
  font-weight: 600;
  line-height: 46.32px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.currentJob {
  color: #279ce0;
  font-size: 25px;
  margin: 6px 0px;
  margin-bottom: -15px;
  font-weight: 700;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.about {
  text-align: justify;
  color: #575757;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
  word-wrap: break-word;
  margin-top: 10px;

}

.contacts {
  background-color: #160230cc;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px 20px;

}

.phone,
.email,
.link {
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 10px;
  width: 43%;
  font-size: 17px;
  color: #ffffff;
  word-wrap: break-word;
  height: max-content;
}

.title,
.title2 {
  color: rgba(22.39, 2.09, 48.22, 0.8);
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.3px;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 15px;
}
.title2 {
  width: 99%;
  border: none;
  border-bottom: 2px solid #0379bc;
  background: none;
  margin-bottom: 30px;
}

.subtitle {
  color: rgba(22.39, 2.09, 48.22, 0.8);
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  width: 170px;
}

.skills {
  color: #575757;
  font-size: 19px;
  font-weight: 500;
  line-height: 54px;
  word-wrap: break-word;
  min-height: 50px;
}

.skillHeading {
  width: 100%;
  display: flex;
  align-items: center;
}

.language,
.framework,
.tool,
.database {
  margin-right: 20px;
}
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frameworks,
.tools,
.languages,
.databases {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.horLine {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.purple {
  background-color: #160230cc;
  width: 33%;
  height: 4px;
}

.blue {
  background-color: #0379bc;
  width: 34%;
  height: 4px;
}

.sky {
  background-color: #94ceef;
  width: 33%;
  height: 4px;
}

.exp {
  display: flex;
  width: 100%;
  padding-left: 10px;
  align-items: flex-start;
  line-height: normal;

}

.duration {
  word-wrap: break-word;
  line-height: 23px;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 50px;
}

.expDetail,
.expDetail1 {
  color: #575757;
  border-left: 3px solid rgba(22, 2, 48, 0.50);
  padding-left: 30px;
  margin-left: -8.5px;
  padding-bottom: 20px;
}

.expDetail1 {
  padding-bottom: 20px;
}

.company,
.play {
  font-size: 15px;
  color: #0379bc;
  word-spacing: 5px;
  font-weight: 700;
}
.play {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
}
.pos,
.pos1 {
  color: rgba(22.39, 2.09, 48.22, 0.8);
  font-size: 20px;
  font-weight: 700;
}


.jobTitle {
  color: #575757;
  font-size: 24px;
  font-weight: 800;
  word-wrap: break-word;
}

.duration {
  word-wrap: break-word;
  font-weight: 400;
  font-size: 15px;
}

.cgpa {
  font-size: 0.8rem;
  font-weight: 600;
}

.description,
.desc {
  font-size: 15px;
  margin-left: 15px;
  width: 97%;
  text-align: justify;
  font-weight: 500;
  display: flex;
  height: max-content;
  padding-bottom: 10px;

}

.desc {
  line-height: normal;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.img {
  padding: 2px;
  background-color: #160230cc;
  border-radius: 50%;
  margin-right: 20px;
}

.div2 {
  width: 78%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 25px;
}

.temp {
  display: flex;
  word-wrap: break-word;
  align-items: flex-start;
  width: 45%;
  margin-bottom: -10px;
}

.award {
  width: 50%;
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-align: justify;
  margin-bottom: 30px;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 700;
  color: #402b54;
  line-height: 23px;
}

.cet,
.ceta,
.cetak {
  align-items: flex-start;
  display: flex;
  text-align: justify;
  flex-direction: column;
  width: 98%;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  word-break: break-all;
}

.cet {
  margin-bottom: 20px;
}

.check {
  font-size: 20px;
}

.loop {
  width: 97%;
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media print {
  .title2 {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  @page{
    margin-top: 30px;
    height: 100%;
  }
}
