.container{
  width: 55%;
  margin-top: 5vh;
  height: 85vh;
  overflow-y: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

.resume {
  background-color: #f1fef7;
  display: flex;
  flex: 1.2;
  height: max-content;
  flex-direction: column;
  width: 100%;
  display: flex;
  word-wrap: break-word;
}
.container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.icon {
  width: 1.1rem;
  height: 1.1rem;
}
.phone,
.email,
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #385848;
}
.personalDetails {
  width: 100%;
  background-color: #e4f5ec;
  padding: 20px 0px;
  border-bottom: 8px solid #385848;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: flex-end;
  height: max-content;
  color: #385848;
}
.title , .title2, .title3{
  display: flex;
  color: #385848;
  border-bottom: 2px solid #385848;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 3.2px;
  padding-bottom: 13px;
  word-wrap: break-word;
}

.title2{
  text-align: center;
  margin-top: 40px;
  width: 60%;
}
.name {
  color: #385848;
  font-size: 2.5rem;
  word-spacing: 10px;
  margin-top: 40px;
  padding: 0px 8px;
  border-bottom: 2px solid #385848;
  margin-bottom: 10px;
}
.currnetJob {
  font-size: 20px;
  letter-spacing: 3px;
  margin-left: 8px;
  color: #385848;
}
.jobTitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.91px;
  word-wrap: break-word;
}
.description {
  text-align: justify;
}

.jump{
  display: flex;
}

.designation{
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
}

.languages{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}
.xp {
  padding: 10px 0px;
  line-height: 23px;
  font-size: 15px;
}
.personalInfo {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px 50px;
  justify-content: space-between;
}
.subtitle {
  font-weight: 700;
  width: 100%;
  display: flex;
  font-size: 17px;
  align-items: center;
}
.language{
  display: inline;
  font-weight: 300;
  word-wrap: break-word;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 6px;
  line-height: 20px;
  font-size: 15px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  align-items: stretch;
  align-self: stretch;
  padding-right: 50px;
}

.line{
  width: 2px;
  background-color: #385848;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0px 50px;
}
.ProfileTitle {
  padding: 10px;
}
.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  align-items: stretch;
  align-self: stretch;
}
.edu {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 15px;
}
.education,
.skills,
.certificates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  min-height: 50px;
  color: #385848;
}
.certificateName {
  font-size: 17px;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.91px;
  line-height: 20px;
  word-wrap: break-word;
  color: #385848;
  text-align: justify;
  margin-bottom: 7px;
}
.institute {
  font-weight: 700;
  line-height: 23px;
  font-size: 17px;
  word-wrap: break-word;
}
.experiences {
  color: #385848;
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}
.about {
  min-height: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #575757;
  font-weight: 400;
  width: 100%;
  line-height: 23px;
  word-wrap: break-word;

}

.temp{
  display: flex;
  word-wrap: break-word;
  align-items: flex-start;
}

.title3{
  width: 100%;
  border: none;
  border-bottom: 2px solid #385848;
  color: #385848;
  background: none;
  margin-bottom: 10px;
}

.cet, .ceta, .cetak{
  align-items: flex-start;
  display: flex;
  text-align: justify;
  flex-direction: column;
  width: 100%;
  /* font-family: 'Jaldi', sans-serif; */
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  word-break: break-all;
}

.cet{
  margin-bottom: 10px;
}

.project{
  width: 100%;
  font-size: 20px;
  color: #385848;
  font-weight: 700;
  /* font-family: 'Jaldi', sans-serif; */
  margin-top: 10px;
  display: flex;
}

.pro{
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
  word-wrap: break-word;
}

.proc{
  width: 80%;
  font-size:15px;
  font-weight: 600;
  margin-left: 35px;
  color: #385848
}

.prod{
  width: 90%;
  margin-top: 3px;
  margin-left: 35px;
  font-weight: 400;
  text-align: justify;
  color: black;
  margin-bottom: 10px;
}

.issuer{
  font-size: 17px;
  /* font-family: 'Jaldi', sans-serif; */
  line-height: 20px;
  

}

.check{
  font-size: 20px;
}
.award{
  width: 90%;
  display: flex;
  align-items: center;
  text-align: justify;
  font-size: 17px;
  font-weight: 500;
  color: #402b54;
}

.back{
  width: 100%;
}

.comp1{
  width: max-content;
}

@media print {
  .title3{
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  }
  @page{
    margin-top: 30px;
    height: 100%;
  }
}


