.header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(95, 99, 101);
  height: 4rem;
}
.buttons {
  display: flex;
  gap: 3rem;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  height: fit-content;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modalContent {
  display: flex;
  flex-wrap: wrap;
}
.templateImage {
  width: 25rem;
  height: 25rem;
  object-fit: contain;
}
