*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.icon, .icons{
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

.iconl, .icona{
    margin-top: 10px;
    font-size: 15px;
    z-index: 2;
    color: #402b54;
    background-color: white;
    border-radius: 50%;
}

.icona{
    font-size: 15px;
    background-color: #0379bc;
    color: #0379bc;
}

.iconk{
    height: 30px;
    margin-right: 30px;
}

.icong, .icongh{
    font-size: 7px;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 10px;
}

.icongh{
    background-color: #575757;
}
.icons{
    margin-right: 10px;
    height: auto;
    margin-top: 0px;
}

.edit, .editl{
    margin-left: 10px;
    height: 28px;
}

.iconw{
    font-size: 26px;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid white;
    background-color: rgba(22.39, 2.09, 48.22, 0.8);
    border-radius: 50%;
    color: white;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .editl, .editk{
    animation: rotate 1s linear infinite;
    width: 28px;
    height: 24px;
    margin: 2px 0px;
    margin-left: 8px;
  }

  .editk{
    font-size: 100px;
    width: 100px;
    height: 100px;
    margin-top: 40vw;
    color: white;
  }