body {
  margin: 0;
  /* font-family: 
    "Ubuntu", "Roboto"
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* overflow: hidden; */
}
input {
  border: none;
  background-color: #c4e2e6;
  border: 2px solid #c4e2e6;
}
input:hover {
  border: 2px solid rgb(9, 9, 9);
}
input:focus {
  border: 2px solid rgb(9, 9, 9);
}
textarea {
  border: none;
  background-color: #c4e2e6;
  border: 2px solid #c4e2e6;
  overflow: hidden;
  resize: none;
}
textarea:hover {
  border: 2px solid rgb(9, 9, 9);
}
